<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monarchwang.website.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.monarchwang.website.model.Tag">
        <!-- @mbggenerated-mdx -->
        <id column="id" jdbcType="CHAR" property="id" />
        <result column="name" jdbcType="CHAR" property="name" />
        <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="last_modified_by" jdbcType="CHAR" property="lastModifiedBy" />
    </resultMap>
    <sql id="Base_Column_List">
        <!-- @mbggenerated-mdx -->
        id, name, delete_flag, create_time, update_time, last_modified_by
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!-- @mbggenerated-mdx -->
        select 
        <include refid="Base_Column_List" />
        from t_tag
        where id = #{id,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!-- @mbggenerated-mdx -->
        delete from t_tag
        where id = #{id,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="com.monarchwang.website.model.Tag">
        <!-- @mbggenerated-mdx -->
        insert into t_tag (id, name, delete_flag, 
            create_time, update_time, last_modified_by
            )
        values (#{id,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{deleteFlag,jdbcType=TINYINT}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{lastModifiedBy,jdbcType=CHAR}
            )
    </insert>
    <insert id="insertSelective" parameterType="com.monarchwang.website.model.Tag">
        <!-- @mbggenerated-mdx -->
        insert into t_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=CHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedBy != null">
                #{lastModifiedBy,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.monarchwang.website.model.Tag">
        <!-- @mbggenerated-mdx -->
        update t_tag
        <set>
            <if test="name != null">
                name = #{name,jdbcType=CHAR},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedBy != null">
                last_modified_by = #{lastModifiedBy,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.monarchwang.website.model.Tag">
        <!-- @mbggenerated-mdx -->
        update t_tag
        set name = #{name,jdbcType=CHAR},
            delete_flag = #{deleteFlag,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            last_modified_by = #{lastModifiedBy,jdbcType=CHAR}
        where id = #{id,jdbcType=CHAR}
    </update>
</mapper>