<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monarchwang.website.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.monarchwang.website.model.Tag">
        <!-- @mbggenerated-mdx -->
        <id column="id" jdbcType="CHAR" property="id" />
        <result column="name" jdbcType="CHAR" property="name" />
        <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="last_modified_by" jdbcType="CHAR" property="lastModifiedBy" />
    </resultMap>
    <sql id="Base_Column_List">
        <!-- @mbggenerated-mdx -->
        id, name, delete_flag, create_time, update_time, last_modified_by
    </sql>

</mapper>