<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monarchwang.website.dao.mybatis.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.monarchwang.website.dao.mybatis.model.Article">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="brief" jdbcType="VARCHAR" property="brief"/>
        <result column="content_id" jdbcType="CHAR" property="contentId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="view_number" jdbcType="INTEGER" property="viewNumber"/>
        <result column="comments_number" jdbcType="INTEGER" property="commentsNumber"/>
        <result column="agree_number" jdbcType="INTEGER" property="agreeNum"/>
        <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="last_modified_by" jdbcType="CHAR" property="lastModifiedBy"/>
    </resultMap>
    <update id="increaseViewNumber">
        UPDATE article
        SET view_number = view_number + 1
        WHERE id = #{id}
    </update>

    <update id="increaseAgreeNumber">
        UPDATE article
        SET agree_number = agree_number + 1
        WHERE id = #{articleId}
    </update>
    <update id="increaseCommentNumber">
        UPDATE article
        SET comments_number = comments_number + 1
        WHERE id = #{articleId}
    </update>
    <update id="softDelete">
        UPDATE article
        SET delete_flag = 1
        WHERE id = #{id}
    </update>
    <update id="release">
        UPDATE article
        SET status = 1
        WHERE id = #{id}
    </update>
    <select id="findByPage" resultMap="BaseResultMap">
        SELECT * FROM article WHERE
        1 = 1 AND delete_flag = 0
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY create_time DESC
    </select>
</mapper>