<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.monarchwang.website.dao.mybatis.mapper.ArticleCommentMapper">
    <resultMap id="BaseResultMap" type="com.monarchwang.website.dao.mybatis.model.ArticleComment">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="from_user" property="fromUser" jdbcType="VARCHAR"/>
        <result column="to_user" property="toUser" jdbcType="VARCHAR"/>
        <result column="agree_number" property="agreeNumber" jdbcType="INTEGER"/>
        <result column="disagree_number" property="disagreeNumber" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="floor_number" property="floorNumber" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <select id="findCommentsByArticleId" resultMap="BaseResultMap">
        SELECT *
        FROM article_comment
        WHERE article_id = #{articleId}
        ORDER BY create_time ASC
    </select>

    <select id="getMaxFloorByArticleId" resultType="java.lang.Integer">
        SELECT max(c.floor_number)
        FROM article_comment c
        WHERE c.parent_id = 0 AND c.article_id = #{articleId}
    </select>
</mapper>