<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.monarchwang.website.dao.mybatis.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.monarchwang.website.dao.mybatis.model.Tag">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="CHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="last_modified_by" property="lastModifiedBy" jdbcType="CHAR"/>
    </resultMap>

    <update id="updateTagStatus">
        UPDATE tag
        SET status = #{status}
        WHERE id = #{id}
    </update>
    <delete id="deleteTagById">
        UPDATE tag
        SET delete_flag = 1
        WHERE id = #{id};
    </delete>


    <select id="queryByName" resultMap="BaseResultMap">
        SELECT *
        FROM tag
        WHERE name = #{name}
    </select>

    <select id="selectTagsByStatus" resultType="com.monarchwang.website.controller.dto.TagDto">
        SELECT
        t.id,
        t.name,
        t.status,
        t.create_time AS createTime,
        sum(atr.id) AS articleSum
        FROM tag t
        LEFT JOIN article_tag_relation atr ON t.id = atr.tag_id
        WHERE t.delete_flag = 0
        <if test="status != null">
            AND t.status = #{status}
        </if>
        GROUP BY t.id
        ORDER BY t.create_time DESC
    </select>
    <select id="queryTagNameByArticleId" resultType="java.lang.String">
        SELECT t.name
        FROM tag t, article_tag_relation atr
        WHERE atr.tag_id = t.id
              AND atr.article_id = #{articleId}
    </select>
</mapper>