<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monarchwang.website.dao.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.monarchwang.website.dao.model.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="content_id" jdbcType="CHAR" property="contentId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="last_modified_by" jdbcType="CHAR" property="lastModifiedBy" />
  </resultMap>
</mapper>